.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px; /* Adjust the value as needed for the upward offset */
  }
  
  .container img {
    display: block;
    margin: 0 auto;
  }
  